.page_name{
    padding: 30px;
    color: var(--green, #008000);
    text-align: center;

    /* Head 1 */
    font-family: Noto Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
*{
    font-family: Noto Sans, serif;
}