.page_name{
    padding: 30px;
    color: var(--green, #008000);
    text-align: center;

    /* Head 1 */
    font-family: Noto Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
*{
    font-family: Noto Sans, serif;
}
.liste {
    border-radius: 16px;
    background: var(--beige, #ECEADE);
    padding: 15px;
    width: 374px;
    height: 78px;
    margin-bottom: 15px;
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix {
    padding-top: 10px;
    color: var(--dark-green, #163F2F);
    text-align: center;
    font-family: Noto Sans, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}